<% include partials/header.ejs%>

<div class="container">
   <div class="container">
      <div class="jumbotron">
        <h1>WELCOME TO CAMPGROUNDS PAGE</h1>
        <p>
           <a class="btn btn-primary btn-lar" href="/campgrounds/new"> ADD A NEW CAMP </a>
        </p>
      </div>
   </div>
   
   <div  class="row text-center" style="display:flex; flex-wrap:wrap;"> 
        <% camps.forEach(function(camps){ %>
	       <div class="col-md-4 col-sm-6">
	           <div class="thumbnail">
	             <img style="height:220px; width:290px;" src="<%= camps.img %>">
	               <div class="caption">
	           	     <%= camps.name %>
	               </div>
                 <p>
              <a href="campgrounds/<%= camps._id%>" class="btn btn-primary">SHOW</a>
	           </div>
	       </div>
        <% }); %>
   </div>
</div>


<% include partials/footer.ejs%>