<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/views/assets/css/landing.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/lib/bootstrap.css"> 
	<title>
		yelpcamp
	</title>
</head>
<body>
<div id="landing-header">
    <h1>WELCOME TO THE YELPCAMP HOMEPAGE</h1>
    <a class="btn btn-success" href="/campgrounds">go to campgrounds</a>
    
    <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
</div>		

</body>
</html>